@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(2rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}
.header-toggler {
font-size: 0.75rem !important;
}
.avatar-md {
    --cui-avatar-width: 1.8rem;
    --cui-avatar-height: 1.8rem;
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 100% !important;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2px;
  transition: all 0.3s ease;
}

table thead {
  background-color: #f4f4f4;
  text-align: center;
  color: #555;
}

td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 14px;
  vertical-align: middle;
}

td button {
  margin-left: 2px;
  margin-right: 2px;

}
th {
  font-weight: bold;
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 14px;
  vertical-align: middle;
  background-color: #f4f4f4 !important;

}

td {
  height: 35px;
}

tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

table tbody tr {
  transition: background-color 0.3s ease;
}

.pagination .pagination-small-btn{
  padding: 2px 10px;
  margin: 5px;
}

